.slick-slide {
  outline: none !important;
}

.two-cols {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.benefits-slide h3 {
  margin: 20px auto;
}

.pros,
.cons {
  text-align: left;
  list-style-type: none;
}

.pros li,
.cons li {
  margin: 5px 0;
}

.cons li:before,
.pros li:before {
  content: "+";
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1;
  color: green;
  margin-right: 5px;
}

.cons li:before {
  content: "-";
  color: red;
}

.slick-benefits {
  margin: 50px auto;
}

#feeding .slick-prev,
#feeding .slick-next {
  font-size: 2.5em;
  margin: 0 20px;
  cursor: pointer;
  transition: all .3s ease;
  opacity: .6;
}

#feeding .slick-prev:hover,
#feeding .slick-next:hover {
  opacity: 1;
}